1. Domaci zadatak
Napraviti prezentaciju od najmanje pet slajdova na temu Budvanski maskembal 2013
a) Kreirati folder Maskembal 2013 
b)u njemu podfolder Slike, podfolder Tekstovi i podfolder Muzika

Dodati odgovarajuće efekte
Animirati slajdove da se prezentacija prikazuje automatski
